// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: 'Lato', sans-serif
  font-weight: normal
  font-size: 16px
  color: #0E1931

h1, .h1
  margin-bottom: 32px
  font-family: Montserrat
  font-size: 32px
  line-height: 20px
  color: #627898
  text-align: center

h2, .h2
  font-family: Montserrat
  font-size: 32px
  color: #627898  



h3, .h3
  font-family: Montserrat
  font-weight: 500
  font-size: 24px
  line-height: 32px
  color: #627898


h4, .h4
  font-family: Montserrat
  font-weight: 600
  font-size: 14px
  line-height: 20px
  text-transform: uppercase


h5, .h5
  font-size: 16px
  font-family: Lato
  font-size: 16px
  line-height: 24px
  color: #627898

h6, .h6
  font-family: Montserrat
  font-weight: 500
  font-size: 14px
  color: #A3ABBB


a
  color: #0E1931
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


  



.justify-align
  display: flex
  justify-content: space-between
  align-items: center

.left-align
  display: flex


.right-align
  display: flex
  justify-content: flex-end

.center-align
  display: flex
  justify-content: center
  align-items: center


.flex
  display: flex
  flex-wrap: wrap



*::-webkit-input-placeholder 
  color: #A3ABBB
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease

*:-moz-placeholder 
  color: #A3ABBB
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*::-moz-placeholder 
  color: #A3ABBB
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*:-ms-input-placeholder 
  color: #A3ABBB
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease




.row
  margin-left: -10px
  margin-right: -10px

  [class^="col"]
    padding-left: 10px
    padding-right: 10px