@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato/Lato-Medium.woff2') format("woff2"), url('../fonts/Lato/Lato-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato/Lato-Regular.woff2') format("woff2"), url('../fonts/Lato/Lato-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal



@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?xq9wvx')
  src: url('../fonts/icomoon/icomoon.eot?xq9wvx#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?xq9wvx') format("truetype"), url('../fonts/icomoon/icomoon.woff?xq9wvx') format("woff"), url('../fonts/icomoon/icomoon.svg?xq9wvx#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.icon-angle-bottom:before
  content: "\e900"
  color: #a3abbb

.icon-angle-left:before
  content: "\e901"
  color: #a3abbb

.icon-angle-right:before
  content: "\e902"

.icon-angle-top:before
  content: "\e903"
  color: #a3abbb

.icon-bag:before
  content: "\e904"

.icon-call:before
  content: "\e905"
  color: #627898

.icon-check:before
  content: "\e906"
  color: #fff

.icon-clear:before
  content: "\e907"
  color: #a3abbb

.icon-clock:before
  content: "\e908"
  color: #a3abbb

.icon-del:before
  content: "\e909"
  color: #a3abbb

.icon-drop:before
  content: "\e90a"

.icon-mail:before
  content: "\e90b"
  color: #a3abbb

.icon-place:before
  content: "\e90c"
  color: #627898

.icon-zoom:before
  content: "\e90d"




.icon-telegram
  display: inline-block
  vertical-align: middle
  width: 20px
  height: 20px
  background: url(../img/telegram.svg) no-repeat center
  background-size: contain

.icon-whatsapp
  display: inline-block
  vertical-align: middle
  width: 20px
  height: 20px
  background: url(../img/whatsapp.svg) no-repeat center
  background-size: contain