@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------


.page

	&.opacity
		position: relative
		overflow: hidden
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			background: rgba(0,0,0,.4)
			z-index: 99



.container
	max-width: 1020px

.header

	&-top
		background: $blue

		&__wrap
			display: flex
			justify-content: space-between
			padding: 10px 0

		&__links
			list-style: none

			li
				display: inline-block
				margin-right: 20px

				&:last-child
					margin-right: 0

				a
					font-family: Montserrat
					font-style: normal
					font-weight: 500
					font-size: 14px
					line-height: 20px
					color: #F0F3FA

					&:hover, &:focus
						opacity: 1
						color: #fff

	&-middle
		padding: 16px 0
		display: flex
		align-items: center
		justify-content: space-between

	&-contacts
		display: flex
		flex-wrap: wrap

		&__block
			margin-right: 30px

			&:last-child
				margin-right: 0

		&__item
			position: relative
			padding: 0 0 0 28px
			margin-bottom: 6px

			&::before
				position: absolute
				left: 0
				top: 0
				font-size: 20px

			&:last-child
				&::before
					font-size: 11px
					top: 6px

			&.icon-clock
				&::before
					font-size: 14px
					top: 4px

			strong
				display: inline-block
				vertical-align: middle
				font-family: Montserrat
				font-style: normal
				font-weight: 600
				font-size: 16px
				line-height: 20px
				color: #627898

			span
				font-family: Montserrat
				font-style: normal
				font-weight: 500
				font-size: 14px
				line-height: 20px
				color: #A3ABBB

			.icon-whatsapp, .icon-telegram
				margin-left: 12px

	&-bottom
		padding: 14px 0
		background: #F9F9F9
		box-shadow: 0px 8px 20px rgba(140, 144, 153, 0.15)

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between

		&__right
			display: flex
			align-items: center



	&-cart
		position: relative
		margin-left: 20px

		span
			position: absolute
			right: -8px
			top: -6px
			display: inline-block
			padding: 1px 3px
			background: #EF0039
			border-radius: 2px
			font-family: Montserrat
			font-style: normal
			font-weight: 600
			font-size: 11px
			line-height: 14px
			color: #fff
	


.btn
	display: inline-block
	padding: 16px 20px
	border-radius: 4px
	font-family: Montserrat
	font-weight: 600
	font-size: 14px
	line-height: 16px
	text-align: center
	border: 1px solid #E5F2FF
	text-transform: uppercase
	outline: none
	color: $blue
	background: #E5F2FF

	&:hover, &:focus
		opacity: 1
		background: $blue
		color: #fff

	&-blue
		opacity: 1
		background: $blue
		color: #fff
		border-color: #0080FF

		&:hover, &:focus
			opacity: .8

		&__transparent
			opacity: 1
			border-color: $blue
			background: #fff

			&:hover, &:focus
				opacity: 1
				background: $blue
				color: #fff




.main-menu
	list-style: none

	>li
		display: inline-block
		padding: 0 10px

		&:first-child
			padding-left: 0

		&:last-child
			padding-right: 0

		&.drop
			position: relative
			
			>ul
				display: none
				position: absolute
				left: 0
				min-width: 160px
				top: 100%
				padding: 10px 0
				list-style: none
				background: #fff
				z-index: 10

				li
					display: block

					>a
						padding: 5px 15px
						display: block
						font-family: Montserrat
						font-weight: 600
						font-size: 12px
						line-height: 18px
						text-transform: uppercase

			.icon-angle-bottom
				position: relative
				top: -2px
				padding-left: 2px
				font-size: 6px
				vertical-align: middle
				
				&::before
					color: #0E1931



		>a
			font-family: Montserrat
			font-weight: 600
			font-size: 14px
			line-height: 20px
			text-transform: uppercase




.form

	&-search
		display: none
		position: relative
		z-index: 999

		&.active
			display: block

		input
			width: 250px
			height: 48px
			padding: 0 20px 0 20px
			background: transparent
			border: none
			outline: none
			background: #FFFFFF
			box-shadow: 0px 16px 20px rgba(140, 144, 153, 0.3)
			border-radius: 4px

			&:hover, &:focus
				opacity: 1

		button
			position: absolute
			top: 16px
			right: 12px
			background-color: transparent
			outline: none
			border: none

		&__click
			display: none
			background-color: transparent
			outline: none
			border: none

			&.active
				display: inline-block
		

	&-field
		width: 100%
		height: 40px
		margin-bottom: 10px
		line-height: 40px
		padding: 8px 12px
		font-size: 16px
		border: 1px solid #D6DBE4
		border-radius: 2px
		outline: none
		background: #fff

	textarea
		height: 140px
		line-height: normal
		resize: none

	&-info
		margin-bottom: 10px
		color: #A3ABBB



	&-comments
		display: flex
		flex-wrap: wrap

		&__left
			width: 220px


			h3
				margin-bottom: 20px
				font-family: Montserrat
				font-weight: 600
				font-size: 20px
				line-height: 20px
				color: #0E1931

		&__right
			width: calc(100% - 220px)
			max-width: 540px
			padding-left: 20px
			padding-top: 40px


		&__bottom
			display: flex
			justify-content: space-between
			align-items: center

			.btn
				width: 160px

		&__captcha
			display: flex
			align-items: center

			button
				margin-left: 20px
				display: inline-block
				padding: 0
				outline: none
				border: none
				background-color: transparent
				font-size: 16px
				color: $blue


	&-item
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 10px

		>label
			width: 126px
			padding-right: 20px

		.form-field
			margin-bottom: 0
			width: calc(100% - 126px)

		&__left
			width: calc(100% - 126px)

			.form-field
				width: 100%

			.check-item
				margin: 15px 0 0

		textarea
			height: 64px

	&-signup
		width: 100%


		.btn
			max-width: 300px
			width: 100%
			display: block
			margin: 0 auto


.check-item
	margin: 0 0 20px
	list-style: none

	li
		display: inline-block
		padding: 10px 0
		margin-right: 40px

		&:last-child
			margin-right: 0

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 26px
			cursor: pointer
			font-size: 16px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				width: 16px
				height: 16px
				display: flex
				align-items: center
				justify-content: center
				background-color: #fff
				border-radius: 2px
				font-size: 9px
				font-family: icomoon
				border: 1px solid #D6DBE4

		&:checked
			&+label
				&::before
					content: '\e906'
					background: $blue
					border-color: $blue
					color: #fff
					

.radio-item
	margin: 0 0 20px
	list-style: none

	li
		display: inline-block
		padding: 10px 0
		margin-right: 40px

		&:last-child
			margin-right: 0

	input[type="radio"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 26px
			cursor: pointer
			font-size: 16px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				width: 16px
				height: 16px
				border: 1px solid #D6DBE4
				border-radius: 50%

		&:checked
			&+label
				&::before
					border-color: $blue
					border-width: 5px




.content
	min-height: calc(100vh - 694px)
	padding-bottom: 40px
	background: #F9F9F9
	box-shadow: inset 0px 8px 20px rgba(140, 144, 153, 0.15)


.section
	padding: 35px 0

	&+.section
		padding-top: 25px

	h2, .h2
		margin-bottom: 25px
		text-align: center





.product
	padding-bottom: 15px

	&-item
		padding: 20px
		margin-bottom: 20px
		height: 332px
		background: #fff
		text-align: center

		&__img
			height: 160px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 15px

		&__name
			margin-bottom: 5px
			font-weight: 500
			font-size: 16px
			line-height: 20px
			color: #627898
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden

		&__price
			margin-bottom: 20px
			font-family: Montserrat
			font-style: normal
			font-weight: 600
			font-size: 16px
			line-height: 20px

		.btn
			width: 100%

	&-page
		padding-bottom: 25px

		&__wrap
			display: flex
			flex-wrap: wrap
			margin-bottom: 55px
		
		&__img
			display: flex
			justify-content: space-between
			width: 48%

		&__info
			width: 52%
			padding-left: 40px

			h1, .h1
				text-align: left





	&-slider
		width: 348px
		max-height: 348px
		box-shadow: 0px 8px 20px rgba(140, 144, 153, 0.15)

		&__item
			text-align: right

			img
				display: inline-block
				max-height: 100%

		&__nav
			width: 72px

			&--item
				margin-bottom: 19.5px
				cursor: pointer

				&.slick-current
					position: relative

					&::before
						content: ''
						position: absolute
						left: 0
						right: 0
						top: 0
						bottom: 0
						background: rgba(0,0,0,.2)

	&-rating
		margin-bottom: 30px
		display: flex
		align-items: center

		&__block
			width: 120px
			height: 22px
			background: url('../img/star-grey.svg') repeat-x 0 0

		&__inner
			background: url('../img/star-gold.svg') repeat-x 0 0
			font-size: 1px
			height: 22px
			text-indent: -9999px

		&__count
			padding-left: 16px
			padding-top: 6px
			font-family: Montserrat
			font-weight: 500
			font-size: 16px
			line-height: 20px
			color: #A3ABBB



	&-price
		margin-bottom: 30px
		font-family: Montserrat
		font-weight: 600
		font-size: 32px
		line-height: 20px

	&-life
		display: flex
		flex-wrap: wrap
		margin-bottom: 30px

		&__capt
			width: 160px

			color: #A3ABBB

	&-volume
		display: flex
		flex-wrap: wrap
		margin-bottom: 54px

		&__capt
			padding: 12px 0 0
			width: 160px
			color: #A3ABBB

	&-btn
		display: flex

		&__bye
			position: relative
			padding-left: 50px

			&::before
				content: ""
				position: absolute
				left: 25px
				top: 14px
				width: 20px
				height: 20px
				background: url(../img/bag.svg)



		.btn
			width: 140px
			margin-right: 20px


	&-filters
		display: flex
		justify-content: flex-end
		align-items: center
		margin-bottom: 20px

		>span

			font-size: 14px
			color: #A3ABBB

		&__item
			margin-left: 20px


	&-search
		display: flex
		justify-content: space-between
		margin-bottom: 20px  


		&__form
			width: 49%
			display: flex
			align-items: center
			justify-content: space-between

			input
				margin-bottom: 0
				width: calc(100% - 120px)

			.btn
				padding: 11px 24px

		.product-filters
			margin-bottom: 0



select
	display: none



.jq-selectbox
	position: relative
	width: 220px
			
	.jq-selectbox__select-text
		position: relative
		padding: 10px 30px 10px 10px
		width: 100%
		border: 1px solid #D6DBE4
		border-radius: 2px
		font-size: 16px
		background: #fff


		&::after
			content: '\e900'
			position: absolute
			right: 14px
			top: 18px
			font-family: icomoon
			font-size: 8px
			color: #627898


	&.opened
		.jq-selectbox__select-text
			&::after
				transform: rotate(180deg)

	.jq-selectbox__dropdown
		position: absolute
		top: 42px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		background: #fff


		ul
			max-height: 145px !important
			padding: 10px 0
			background: #fff
			list-style: none
			overflow-y: scroll
			border: 1px solid #E1EBEE
			border-top: none
			li
				padding: 10px 20px
				font-size: 14px
				line-height: 19px
				color: #000
				transition: all .3s

				&:hover
					background: #FAFAFA


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #F5F5F5


			&::-webkit-scrollbar
				width: 10px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #006EC5









.slick-slide
	outline: none








.content-aside
	display: flex
	flex-wrap: wrap


	&__content
		width: calc(100% - 220px)
		padding-right: 40px

	aside
		width: 220px

		h3, .h3
			margin-bottom: 15px

.aside

	&-nav
		padding: 16px 20px 20px
		background: #fff
		box-shadow: 0px 8px 20px rgba(140, 144, 153, 0.15)
		border-radius: 4px

		h3, .h3
			margin-bottom: 15px
			font-size: 20px
			line-height: 28px
			color: #0E1931

		ul
			list-style: none

			li
				line-height: 24px
				margin-bottom: 10px

				a
					color: $blue


article

	h1
		text-align: center

	h3
		margin-bottom: 16px

	p
		margin-bottom: 15px
		font-size: 16px
		line-height: 24px

	ul
		padding-left: 20px
		list-style: none

		li
			position: relative
			padding-left: 25px
			margin-bottom: 15px
			font-size: 16px
			line-height: 24px

			&::before
				content: '—'
				position: absolute
				left: 0
				top: 0
				color: #0080FF


.article

	>img

	&-item
		margin-bottom: 24px

		&__name
			display: inline-block
			margin-top: 10px
			font-weight: 500
			font-size: 16px
			line-height: 20px
			color: #0080FF



.advantages

	&-item
		text-align: center

		&__img
			height: 96px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 22px

		>span
			font-family: Montserrat
			font-weight: 500
			font-size: 18px
			line-height: 24px




.footer
	padding: 40px 0
	background: #EFF0F3

	&-wrap
		display: flex
		justify-content: space-between

	&-links
		

		&__wrap
			display: flex
			flex-wrap: wrap
			margin-left: -10px
			margin-right: -10px
			width: 70%

		&__item
			width: 25%

			h4, .h4
				margin-bottom: 20px

			ul
				list-style: none

				li
					margin-bottom: 10px
					font-size: 16px
					line-height: 20px
					color: #A3ABBB

					a
						color: #A3ABBB


	&-contacts
		width: auto
		max-width: 220px

		ul
			li
				position: relative
				padding: 0 0 0 25px

				&::before
					position: absolute
					left: 0
					top: 2px
					font-size: 16px
					color: #A3ABBB

				span
					font-family: Lato

				a
					font-family: Lato

				&.icon-mail
					&::before
						font-size: 12px

	&-bottom
		margin-top: 20px
		padding-top: 20px
		display: flex
		justify-content: space-between
		align-items: center
		border-top: 1px solid #D6DBE4



.payment-systems
	list-style: none

	li
		display: inline-block
		margin-left: 10px



.breadcrumbs
	padding: 20px 0 40px

	&+.section
		padding-top: 0

	&-wrap
		display: flex

		>span
			display: inline-block
			margin-right: 15px
			font-weight: 500
			font-size: 14px
			line-height: 20px
			color: #A3ABBB

	ul
		list-style: none

		li
			display: inline-block
			font-weight: 500
			font-size: 14px
			line-height: 20px
			color: #A3ABBB

			+ li::before
				content: "/"
				padding: 0 10px 0 8px
				font-size: 14px

			a
				position: relative
				color: #627898



.tabs

	&-nav
		display: flex
		list-style: none
		border-bottom: 1px solid #D6DBE4

		li
			margin-right: 20px
			a
				display: block
				padding: 14px 0 14px
				font-size: 16px
				line-height: 20px
				font-weight: 600
				text-transform: uppercase

				&.active
					position: relative
					color: $blue

					&::before
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: -2px
						height: 3px
						background: $blue

				&:focus, &:hover
					opacity: 1
					color: $blue

	&-wrap
		
		article
			padding-top: 40px

	&-item
		display: none

		&.active
			display: block


	&-mobile__btn
		display: none



.comments
	margin-bottom: 40px

	&-item
		display: flex
		flex-wrap: wrap
		padding: 20px 0
		border-bottom: 1px solid #D6DBE4

		&__author
			width: 25%
			color: #627898

		&__text
			width: 65%

			p
				font-size: 16px
				line-height: 24px

				&+p
					padding-top: 15px

		&__date
			width: 10%
			text-align: right
			color: #A3ABBB



.contacts

	&-block
		margin-bottom: 20px

	&-info

		h3, .h3
			margin-bottom: 10px

	&-address
		margin-bottom: 20px

	&-list
		list-style: none

		li
			display: flex
			flex-wrap: wrap
			line-height: 24px
			margin-bottom: 10px


		&__capt
			width: 45%
			color: #A3ABBB

		&__val
			width: 55%

			a
				color: $blue




.modal
	max-width: 460px
	margin: 0 auto
	padding: 32px 40px 40px
	background: #fff
	box-shadow: 0px 8px 20px rgba(140, 144, 153, 0.15)
	border-radius: 4px

	h2, .h2
		margin-bottom: 20px
		font-size: 32px
		line-height: 20px

	h3, .h3
		margin-bottom: 15px
		text-align: center


	h5, .h5
		margin-bottom: 30px
		text-align: center

	p
		margin-bottom: 20px
		line-height: 24px


	&-form
		max-width: 300px
		margin: 0 auto

		


		.form-field
			margin-bottom: 20px
			width: 100%

		.btn
			width: 100%
			padding: 11px 30px
			font-size: 14px

		&__item
			margin-bottom: 25px

	&-window
		display: none
		max-width: 340px
		padding: 16px 20px 20px

		.btn
			width: 100%
			margin-top: 10px

	&-header
		margin-bottom: 15px

		h3, .h3
			margin-bottom: 0
			font-size: 20px
			line-height: 28px
			color: #0E1931
			text-align: left

	.form-info
		margin-bottom: 0


	&-bottom
		padding: 15px 0 0
		text-align: center



.fancybox-slide--html .fancybox-close-small
	padding: 7px    
	top: 8px
	


.blog

	&-item
		margin-bottom: 30px

		&__text

			h3, .h3
				margin-bottom: 10px
				font-size: 20px
				line-height: 28px
				color: #0E1931

			p
				margin-bottom: 10px
				font-size: 16px
				line-height: 24px

		&__more
			display: inline-block
			color: $blue

			&:hover
				text-decoration: underline
				color: $blue





.pagination
	list-style: none

	li
		display: inline-block

		a
			display: block
			width: 40px
			height: 40px
			display: flex
			align-items: center
			justify-content: center
			color: #627898
			border-radius: 4px

			&.active
				background: #EAECEF
				color: #0E1931

			&:hover, &:focus
				opacity: 1
				color: #0E1931


	&-arrow
		a
			border: 1px solid #A3ABBB

			&:hover, &:focus
				background: #0E1931

				i
					&::before
						color: #fff

		i
			transition: all .3s

			&::before
				color: #0E1931



.post

	h1
		text-align: left

	h2
		margin-bottom: 15px
		font-size: 24px
		line-height: 32px
		text-align: left
		


	article

		img
			display: block
			margin-bottom: 30px



.cart

	h1
		margin-bottom: 18px

	&-table
		width: 100%

		&__del
			padding: 0
			font-size: 20px
			border: none
			outline: none
			border-color: transparent
			background-color: transparent

		&__product
			display: flex
			align-items: center

			>span
				padding-left: 10px

		&__total
			font-weight: bold

		thead

			tr
				td
					padding: 14px 10px
					border-bottom: 1px solid #D6DBE4
					font-family: Montserrat
					font-style: normal
					font-weight: 600
					font-size: 14px
					line-height: 20px
					text-transform: uppercase
					color: #A3ABBB

					&:first-child
						padding-left: 0

					&:last-child
						padding-right: 0
						text-align: right

		tbody
			tr
				td
					padding: 20px 10px
					vertical-align: middle
					border-bottom: 1px solid #D6DBE4

					&:first-child
						padding-left: 0

					&:last-child
						padding-right: 0
						text-align: right

	&-total
		padding: 40px 0
		display: flex
		justify-content: space-between
		align-items: center

		&__back
			position: relative
			display: inline-block
			padding: 0 0 0 18px
			color: #A3ABBB

			&::before
				content: '\e901'
				position: absolute
				font-size: 12px
				left: 0
				top: 4px
				font-family: icomoon

			&:hover, &:focus
				opacity: 1

		&__right
			span, strong
				display: inline-block
				font-family: Montserrat
				font-style: normal
				font-weight: 500
				font-size: 20px
				line-height: 28px

			strong
				padding-left: 50px

	&-order

		h3, .h3
			margin-bottom: 5px
			text-align: left

		&__bottom
			display: flex
			align-items: center

		.modal-bottom
			text-align: left


	.modal
		.form
			display: flex
			justify-content: space-between
			flex-direction: column
			height: 100%




.forgot-password
	display: inline-block
	padding: 0 0 0 20px
	color: #A3ABBB

	&:hover, &:focus
		opacity: 1
















.count
	position: relative
	display: inline-block

	input
		width: 105px
		height: 40px
		padding: 0 12px
		background: #fff
		border: 1px solid #D6DBE4
		border-radius: 2px

	&-btn
		position: absolute
		padding: 4px 0
		right: 12px
		top: 0
		bottom: 0
		display: flex
		flex-direction: column
		justify-content: space-between
		z-index: 10




		button
			display: inline-block
			background-color: transparent
			outline: none
			border: none
			width: 14px
			height: 14px
			font-size: 7px

.row-flex
	display: flex

	.modal
		height: 100%



.faq

	&-item
		margin-bottom: 20px

		ul
			margin-bottom: 10px

		h2
			margin-bottom: 10px
			text-align: left
			font-size: 24px
			line-height: 32px	


.opinions

	h1
		text-align: left

	&-wrap
		display: flex
		

	&-item
		padding: 15px 0
		border-top: 1px solid #D6DBE4

		&:last-of-type
			margin-bottom: 40px
			border-bottom: 1px solid #D6DBE4

		p
			line-height: 24px

		&__top
			display: flex
			justify-content: space-between
			padding-bottom: 5px

		&__author
			color: #627898

		&__date
			color: #A3ABBB

		p
			line-height: 24px

			&+p
				padding-top: 10px

	&-content
		width: calc(100% - 300px)
		padding-right: 40px


	&-form
		position: relative
		top: -56px
		width: 300px

		h3, .h3
			margin-bottom: 15px

		.form-comments__captcha
			margin-bottom: 20px



.checkout
	display: flex
	flex-wrap: wrap
	min-height: 100vh



	&-left
		width: 58%
		padding: 60px 40px 0
		background: #fff
		box-shadow: 0px 8px 20px rgba(140, 144, 153, 0.15)

		&__footer
			padding: 20px 0
			color: #A3ABBB
			border-top: 1px solid #D6DBE4

			a
				color: #A3ABBB

	&-right
		width: 42%
		padding: 60px 40px 0
		background: #F9F9F9

	.logo
		display: inline-block
		margin-bottom: 50px


	h2, .h2
		margin-bottom: 30px

	&-form

		&__item
			margin-bottom: 40px

			h3, .h3
				margin-bottom: 15px
				font-size: 20px
				line-height: 28px
				color: #0E1931

			label
				>span
					color: #A3ABBB

		&__bottom
			display: flex
			justify-content: space-between
			align-items: center
			padding: 20px 0 60px
			border-top: 1px solid #D6DBE4

		.form-item>label
			width: 145px

		.form-item 
			.form-field
				width: calc(100% - 145px)

			span
				width: calc(100% - 145px)


	&-item
		display: flex
		flex-wrap: wrap
		margin-bottom: 20px

		&__info
			width: calc(100% - 60px)
			display: flex
			flex-wrap: wrap

		&__img
			position: relative
			max-width: 60px

		&__count
			position: absolute
			right: -4px
			top: -4px
			display: inline-block
			padding: 1px 6px
			background: #0E1931
			border-radius: 2px
			font-family: Montserrat
			font-weight: 600
			font-size: 11px
			line-height: 14px
			color: #fff

		&__val
			padding-left: 20px
			width: calc(100% - 60px)

		&__name
			margin-bottom: 4px
			line-height: 20px

		&__price
			line-height: 20px
			color: #A3ABBB

		&__total
			font-weight: bold


	&-total



		&__delivery
			padding: 20px 0
			border-top: 1px solid #D6DBE4
			border-bottom: 1px solid #D6DBE4
			list-style: none

			li
				margin-bottom: 10px
				display: flex
				justify-content: space-between
				font-size: 16px
				line-height: 20px

				&:last-child
					margin-bottom: 0

		&__bottom
			display: flex
			justify-content: space-between
			padding-top: 20px
			font-family: Montserrat
			font-weight: 500
			font-size: 20px
			line-height: 28px

.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #fff
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)


















@media only screen and (max-width: 1020px)

	.container
		width: 750px

	.hidden-lg
		display: none

	.main-menu>li>a
		font-size: 12px

	.footer
		padding: 30px 0 20px

	.footer-wrap
		width: auto
		flex-direction: column-reverse

	.footer-links__wrap
		display: block
		width: auto
		margin: 30px 0 0

	.footer-links__item
		width: auto

	.footer-links__item:not(.footer-contacts)
		ul
			display: none

		h4, .h4
			cursor: pointer
			position: relative

			&::before
				content: '\e900'
				position: absolute
				right: 0
				top: 0
				font-size: 10px
				color: #0E1931
				font-family: 'icomoon'

			&.active
				&::before
					content: '\e903'

	.footer-bottom
		display: block
		text-align: center

		&__copyright
			margin-bottom: 10px


	.checkout
		flex-direction: column

		.logo
			max-width: 200px
			margin-bottom: 30px

		h2, .h2
			margin-bottom: 15px

	.checkout-left
		width: auto
		padding: 40px 15px 0

	.checkout-right
		width: auto
		padding: 40px 15px 40px
		box-shadow: none


	.checkout-form .form-item .form-field
		width: 100%


	.checkout-left__footer
		display: none

	.product-page__wrap
		flex-direction: column

	.product-page__img
		width: 348px
		flex-direction: column-reverse

	.product-slider__nav
		width: auto
		margin-top: 10px
		margin-left: -5px
		margin-right: -5px

		&--item
			margin: 0 5px


	.product-page__info
		width: auto
		padding: 40px 0 0

		h1, .h1
			text-align: left














@media only screen and (max-width: 991px)
	.advantages-item
		margin-bottom: 30px

	.contacts-block
		margin-bottom: 30px

	
	.contacts
		padding-bottom: 0




























@media only screen and (max-width: 768px)

	.container
		width: auto

	.burger-menu
		display: block

		&:hover, &:focus
			opacity: 1
		

	.main-menu
		display: none
		position: absolute
		padding: 15px
		top: 40px
		left: -15px
		right: -15px
		background: #fff
		z-index: 10
		box-shadow: 0 4px 10px rgba(0,0,0,.1)

		li
			display: block
			padding: 0
			margin-bottom: 10px
			text-align: center

			
			a
				padding: 8px 15px
				font-size: 16px

				&:hover, &:focus
					opacity: 1

			&.drop
				ul
					position: static
					text-align: center
					box-shadow: none

					li
						a
							font-size: 12px


	.logo
		max-width: 150px

	.btn
		padding: 10px 14px
		font-size: 12px
		line-height: 14px


	.header-middle
		padding-right: 60px
		padding: 12px 60px 12px 0

	.header-bottom
		padding: 0

	.header-bottom__right
		position: absolute
		top: 63px
		right: 15px
		padding: 0

		.container
			padding: 0

	.header-cart
		margin-left: 15px


	.product-wrap
		display: flex
		flex-wrap: wrap
		[class^='col']
			width: 50%

	
	.content 
		padding-bottom: 20px

	.content-aside
		display: block

		&__content
			width: auto
			padding-right: 0

		aside
			width: auto

			h3, .h3
				text-align: center

	article
		h3
			text-align: center

	.article-item
		text-align: center

		img
			display: block
			margin: 0 auto


	.product-search
		display: block

		&__form
			width: auto
			margin-bottom: 30px

		.product-filters
			width: auto


	.breadcrumbs
		padding: 15px 0 25px


	h1, .h1
		margin-bottom: 20px
		font-size: 28px
		line-height: normal

	.modal
		padding: 25px 20px 30px

		h2, .h2
			font-size: 26px
			line-height: 32px
			line-height: normal

		.form-field
			margin-bottom: 15px

		.btn
			padding: 12px 16px
			font-size: 14px

	.aside-nav
		margin-top: 50px


	.cart-table__product
		img
			display: none

	.cart-table thead tr td
		padding: 10px 5px
		font-size: 10px

	.cart-table tbody tr td
		padding: 10px 5px
		font-size: 12px

	.count input
		width: 56px

	.cart-total
		padding: 25px 0
		display: block

	.cart-total__right
		margin-top: 10px

		span, strong
			font-size: 16px

		strong
			font-weight: bold

	.row-flex
		display: block

		.modal
			margin-bottom: 30px

	.faq-item
		h2, .h2
			font-size: 22px
			line-height: 28px


	.opinions-wrap
		display: block

	.opinions-content
		width: auto
		margin-bottom: 50px

	.opinions-form
		top: 0
		width: auto


	.pagination li a
		width: 38px
		height: 38px


	.product-btn__bye::before
		left: 12px
		top: 7px
		transform: scale(.7)


	.form-comments
		flex-direction: column

		&__left, &__right
			max-width: 540px
			width: auto

		&__right
			padding: 0

	.comments-item
		flex-direction: column
		padding: 10px 0

		p
			padding: 5px 0

		&__author, &__text, &__date
			width: auto
			text-align: left


	





























@media only screen and (max-width: 479px)

	.header-top__links 
		li
			margin-right: 10px
			a
				font-size: 12px

	
	.logo
		max-width: 100px

	.header
		.btn 
			padding: 10px 12px 8px
			font-size: 10px
			line-height: 12px

	
	.product-wrap
		display: block
		[class^='col']
			width: auto

	h2, .h2
		font-size: 26px
		line-height: 32px

	h3, .h3
		font-size: 20px
		line-height: 28px

	


	.section
		padding: 25px 0
		&+.section
    		padding-top: 15px


	.payment-systems 
		li
			margin-left: 8px
			&:first-child
				margin-left: 0


	.jq-selectbox
		width: 180px

	.breadcrumbs-wrap>span
		display: none

	.form-item
		display: block

		>label
			display: block
			width: auto
			margin-bottom: 5px

		.form-field
			width: 100%

	.form-item__left
		width: auto

	.cart-order__bottom
		flex-direction: column

		.btn
			margin-bottom: 10px

	.cart-table thead tr td
		padding: 10px 1px
		font-size: 8px

	.cart-table__product>span
		padding-left: 0

	.cart-table tbody tr td
		font-size: 10px

	.cart-table__product
		max-width: 60px

	.modal p
		margin-bottom: 10px
		font-size: 14px
		line-height: 20px


	.checkout-form__bottom
		flex-direction: column-reverse

		.btn
			margin-bottom: 10px

	.tabs
		&-nav
			display: none


		&-mobile__btn
			position: relative
			display: block
			margin-bottom: 10px
			padding: 12px 20px
			border-radius: 4px
			background: $blue
			text-transform: uppercase
			font-weight: 500
			color: #fff

			&::after
				content: ''
				position: absolute
				right: 15px
				top: 19px
				border: 5px solid transparent
				border-top: 6px solid #fff

			&:hover, &:focus
				opacity: 1
				color: #fff

		&-item
			display: block
			&.active-m
				.tabs-mobile__btn:after
					border-top: 0
					border-bottom: 6px solid #fff

			&__body
				display: none


	.product-page__img
		width: 100%
		max-width: 348px

	.product-slider
		width: 100%
		max-width: 348px

	.product-rating__count
		padding-left: 10px
		font-size: 14px

	.product-life, .product-volume
		margin-bottom: 15px
		flex-direction: column

		&__capt
			width: auto
			padding: 0
			margin-bottom: 5px

	.jq-selectbox .jq-selectbox__dropdown
		top: 41px !important


	.product-btn .btn
		width: 125px

	.product-page__wrap
		margin-bottom: 40px